/* import */
@import "./modules/variables";
@import "./modules/mixins";
@import "./partials/normalize";

/* general */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 62.25%;
  scroll-behavior: smooth;
  position: relative;
  background-color: $whiteColor;

  @media screen and (min-width: $laptopWidth) {
    overflow: hidden;
  }
}

/* web accessibility */
.sr-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

/* wrapper */
.wrapper {
  width: 90%;
  margin: 0 auto;
  color: $blackColor;
  font-size: 1.6rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

/* loader */
.loader {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  display: none;

  @media screen and (min-width: $laptopWidth) {
    display: block;
  }
}

.stripes {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
}

.stripe {
  height: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);

  &:nth-of-type(1) {
    background-color: $blackColor;
  }

  &:nth-of-type(2) {
    background: url("../img/girl.jpg") no-repeat center/cover;
    border-left: 1px solid $whiteColor;
    border-right: 1px solid $whiteColor;
  }

  &:nth-of-type(3) {
    background-color: $secondBlackColor;
  }

  &:nth-of-type(4) {
    background: url("../img/snow.jpg") no-repeat center/cover;
    border-left: 1px solid $whiteColor;
    border-right: 1px solid $whiteColor;
  }

  &:nth-of-type(5) {
    background-color: $secondBlackColor;
  }

  &:nth-of-type(6) {
    background: url("../img/airplane.jpg") no-repeat center/cover;
    border-left: 1px solid $whiteColor;
    border-right: 1px solid $whiteColor;
  }

  &:nth-of-type(7) {
    background-color: $blackColor;
  }
}

.loading {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  @include flex(row, center, center);
  font-size: 3.5rem;
  color: $whiteColor;
  font-weight: 700;
  letter-spacing: 3px;
  font-family: "Poppins", sans-serif;

  @media screen and (min-width: $laptopWidth) {
    font-size: 6.5rem;
  }
}

.loading__span {
  position: relative;
  display: inline-block;
  -webkit-animation: loading-animate 2s ease-in-out infinite;
  animation: loading-animate 2s ease-in-out infinite;
  -webkit-animation-delay: calc(0.1s * var(--i));
  animation-delay: calc(0.1s * var(--i));
  opacity: 0;
}

@-webkit-keyframes loading-animate {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  20% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  40%, 100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@keyframes loading-animate {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  20% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  40%, 100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

/* container */
.container {
  @include flex(column, center, center);
  gap: 48px;
  position: relative;
  padding: 28px 0 0;

  @media screen and (min-width: $laptopWidth) {
    height: 100vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 164px;
    padding: 0;
    overflow: hidden;
  }
}

/* book */
.image-wrapper {
  width: 100%;
  @include flex(row, center, center);

  @media screen and (min-width: $laptopWidth) {
    width: 26%;
    -webkit-transform: translateY(-150%);
    -ms-transform: translateY(-150%);
    transform: translateY(-150%);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1000px;
    perspective: 1000px;
  }
}

.book {
  height: 400px;
  position: relative;
  -webkit-box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: rotateY(25deg);
  transform: rotateY(25deg);

  @media screen and (min-width: $laptopWidth) {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-animation: book-animation 2s ease-in-out;
    animation: book-animation 2s ease-in-out;
    -webkit-animation-delay: 7s;
    animation-delay: 7s;
  }

  &::before {
    content: "";
    width: 60px;
    height: 100%;
    color: $whiteColor;
    background: $blackColor;
    position: absolute;
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }

  &:hover {
    @media screen and (min-width: $laptopWidth) {
      -webkit-transform: rotateY(35deg);
      transform: rotateY(35deg);
      -webkit-box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
    }
  }

  img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;

    @media screen and (min-width: $laptopWidth) {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

@-webkit-keyframes book-animation {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  50% {
    -webkit-transform: rotateY(35deg);
    transform: rotateY(35deg);
  }
  100% {
    -webkit-transform: rotateY(25deg);
    transform: rotateY(25deg);
  }
}

@keyframes book-animation {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  50% {
    -webkit-transform: rotateY(35deg);
    transform: rotateY(35deg);
  }
  100% {
    -webkit-transform: rotateY(25deg);
    transform: rotateY(25deg);
  }
}

/* text */
.text-wrapper {
  width: 100%;
  @include flex (column, center, center);
  text-align: center;

  @media screen and (min-width: $laptopWidth) {
    width: 70%;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    text-align: left;
  }
}

.title {
  margin: 0;
  font-size: 3.4rem;

  @media screen and (min-width: $laptopWidth) {
    font-size: 4.4rem;
    -webkit-transform: translateY(-150vh);
    -ms-transform: translateY(-150vh);
    transform: translateY(-150vh);
  }
}

.text {
  max-width: 700px;
  margin: 24px 0;
  color: #332F2E;

  @media screen and (min-width: $laptopWidth) {
    -webkit-transform: translateY(150vh);
    -ms-transform: translateY(150vh);
    transform: translateY(150vh);
    margin: 24px 0 48px;
  }
}

.form__item {
  width: 100%;
  padding: 2px;
  @include flex(column, center, center);

  @media screen and (min-width: $tabletWidth) {
    border: 2px solid #332F2E;
    @include flex(row, center, space-between);
  }
  
  @media screen and (min-width: $laptopWidth) {
    padding: 4px;
    -webkit-transform: translateY(150vh);
    -ms-transform: translateY(150vh);
    transform: translateY(150vh);
  }
}

.input {
  text-align: center;
  padding: 12px 24px;
  border: 2px solid #332F2E;
  margin-bottom: 12px;

  @media screen and (min-width: $tabletWidth) {
    text-align: left;
    border: none;
    margin-bottom: 0;
  }
}

.btn {
  color: $whiteColor;
  background-color: #332F2E;
  border: none;
  padding: 12px 24px;
  position: relative;
  z-index: 0;
  overflow: hidden;

  &::before,
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: $blackColor;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    z-index: -1;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    -o-transition: transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
  }

  &:hover::before,
  &:focus::before {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
/* social media */
.social-media {
  list-style: none;
  margin: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  @include flex(row, center, center);
  gap: 4px;
  padding: 48px 0;

  @media screen and (min-width: $laptopWidth) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    top: 50%;
    right: 0;
    padding: 0;
  }

  a {
    width: 48px;
    height: 48px;
    text-decoration: none;
    padding: 2px;
    border: 2px solid transparent;
    border-radius: 50%;
    @include flex(row, center, center);
    -webkit-transition: border-color 0.2s;
    -o-transition: border-color 0.2s;
    transition: border-color 0.2s;

    @media screen and (min-width: $laptopWidth) {
      -webkit-transform: translateY(150vh);
      -ms-transform: translateY(150vh);
      transform: translateY(150vh);
    }

    &:hover,
    &:focus {
      border-color: #332F2E;
    }
  }

  img {
    height: 60%;
  }
}